
 

body{
    background-color: white;
    text-decoration: none;
    
    
  
}
.container{
    
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
.menu {
    
    
        background-color: white;
        border: 1px solid black;
        width: 74vw;
        height: 95vh;
       margin-left: 25%;
       margin-top: -67vh;
       border-radius: 3%;
       text-decoration: none;
        
    
  
}
.tex1{
    margin-left: 3%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
} 
   
.prod1{
    margin-top:25vh;
    padding: 0;
    margin-left: 3%;
    font-size: 3vh;

}
.prod2{
    margin-top: 5vh;
    margin-left: 3%;
    font-size: 3vh;
    font-size: 3vh;


}
.prod3{
    margin-top: 5vh;
    margin-left: 3%;
    font-size: 3vh;
    font-size: 3vh;

}
.prod4{
    margin-top: 5vh;
    margin-left: 3%;
    font-size: 3vh;

}
.prod5{
    margin-top: 5vh;
    margin-left: 3%;
    font-size: 3vh;

}

.te1{
    margin-left: 3%;
    font-size: 1.2vw;
}
.imag1{
    margin-left: 3%;
}

.borde1{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 28%;
   margin-top: -80vh;
   text-decoration: none;
}

.borde2{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 45%;
   margin-top: -33vh;
   text-decoration: none;
}

.borde3{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 62%;
   margin-top: -33vh;
   text-decoration: none;
}

.borde4{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 80%;
   margin-top: -33vh;
   text-decoration: none;
}
.borde5{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 28%;
   margin-top: 6vh;
   text-decoration: none;
}

.borde6{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 45%;
   margin-top: -33vh;
   text-decoration: none;
}
.borde7{
    
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 80%;
   margin-top: -33vh;
   text-decoration: none;
}

.borde8{
    background-color: rgb(206, 230, 230);
    border: 1px solid black;
    width: 15vw;
    height: 33vh;
   margin-left: 62%;
   margin-top: -33vh;
   text-decoration: none;
}
.bordprecio{
  background-color: beige;
   border: 1px solid black;
  width: 10vw;
  height: 10vh;
  margin-left: 10%;
  margin-top: -40vh;
}
.comprar{
    width: -3vw;
    margin-top: -2vh;
    height: 12;
    margin-left: 10%;
    
}
.bordprecio1{
    background-color: beige;
     border: 1px solid black;
    width: 10vw;
    height: 10vh;
    margin-left: 10%;
    margin-top: -40vh;
  }

    


    

    
    








    

  

    


